body {
    background: rgb(52, 172, 52);
}


button {
    background-color: rgb(66, 176, 209);
    border-radius: 4px;
    transition: 1s;
}


button:hover {
    background-color: white;
    border-radius: 4px;
}


input {
    border-radius: 5px;
}


h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
